{% extends 'base.tmpl' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Пругло</h1>
    <h2>Олександр</h2>
    <h3>Олександрович</h3>
    <h4>21</h4>
    <h5>років</h5>
    <h6>KDPU</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis feugiat quam. Nam pretium placerat nibh quis vehicula. Pellentesque porttitor eget tellus quis elementum. Nulla iaculis malesuada diam, mollis pharetra dolor mollis sit amet. Fusce vel iaculis lorem, sit amet lacinia mi. Aenean in mauris non metus suscipit malesuada at.</p>
</body>
</html>
{% endblock content %}